#showcase{
    background-image: url('../../../assets/images/Water-Bulb.jpg');
    background-size: cover;
    background-position: center;
    height: 81vh;
    display:flex;
    overflow: auto;
}

#chart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-top: 50px; */
}

#login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
