<nal-jal-header></nal-jal-header>
<div class="container-fluid" id="showcase">
    <div>
        <div class="row">
            <div class="col-sm-9" id="chart">
                <div class="card">
                    <read-pie-chart></read-pie-chart>
                    <dcb-bar-chart></dcb-bar-chart>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-11">
                    <nal-jal-login></nal-jal-login>
                </div>
            </div>
        </div>
    </div>
</div>