#showcase{
    background-image: url('../../../assets/images/Water-Bulb.jpg');
    background-size: cover;
    background-position: center;
    height: 81vh;
}

#chart{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
}