#showcase{
    /* background-image: url('../../../assets/images/nall-jal.jpg'); */
    background-size: 1500px;
    background-position: center;
    height: 77vh;
}

#chart{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}