#showcase{
    background-image: url('../../../assets/images/tap-water.jpg');
    background-size: cover;
    background-position: center;
    height: 75vh;
}

#login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
