#firstRow{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.rowCenter{
    display: flex;
    justify-content: center
}

.card-body-height{
    height: 75vh;
    display:block;
    overflow:auto;
}