.flex-card-body {
    display: flex;
    flex-direction: column;
}

.inline-center-content {
    display: flex;
    justify-content: center;
}

#billView{
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-around;
}
