<div id="content">
  <div id="sideMenu" class="collapse show">
    <ul class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action sub-menu-header text-white">
        Dashboard Menu
      </a>
        <a class="list-group-item list-group-item-action sub-menu" href="javascript:void(0);" (click)="menuClicked('home')">
          <i class="fa fa-home mx-sm-3"></i>Home
        </a>
    </ul>
  </div>
  <div id="mainMenu" class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>