#sideMenu{
    flex-grow : 1;
    flex-basis: 15%;
}

#mainMenu{
    flex-grow : 8; 
    flex-basis: 85%;
}

#content{
    display: flex;
}

ul {
    height: 100vh; /*setting height of side list for showing scroll bar vh means view height*/
    overflow-y: auto; /*setting overflow for vertical scrollbar in side menu */
}
