<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <nal-jal-header></nal-jal-header>
  </div>
  <nav class="navbar navbar-warning bg-warning text-white">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <a class="text-white" href="javascript:void(0);">
      <i class="fa fa-arrow-circle-up fa-2x" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"></i>
    </a>
    <a class="text-white" href="javascript:void(0);" (click)="logoutClicked()">
      <strong><i class="fa fa-sign-out" aria-hidden="true" ></i> Logout</strong>
    </a>
  </nav>
</div>
<div class="mainContainer">

  <div class="sideNav">
    <!-- sub-menu-header class is used to provide a global color as per whole application theme -->
    <ul class="list-group">
      <a class="list-group-item sub-menu-header text-white" data-toggle="collapse" href="#menu-item">
        <strong><i class="fa fa-bars"></i> Dashboard Menu</strong>
      </a>
      <div id="menu-item" class="collapse show menu-item-height">
        <a *ngFor="let menu of menus" class="list-group-item list-group-item-action" [ngClass]="{'active': menu.active}" (click)="menuClicked(menu)" href="javascript:void(0);">
          <i class="fa {{menu.icon}}"></i> {{menu.name}}
        </a>
        <!-- <a class="list-group-item list-group-item-action" href="javascript:void(0);" (click)="logoutClicked()">
          <i class="fa fa-sign-out" aria-hidden="true" ></i> Logout
        </a> -->
      </div>
      <!-- <a class="list-group-item list-group-item-action" (click)="menuClicked(dashboardMenuService.FIRST_MENU)" [ngClass]="{'active': dashboardMenuService.FIRST_MENU.active}" href="javascript:void(0);">
         <i class="fa {{dashboardMenuService.FIRST_MENU.icon}}"></i>{{dashboardMenuService.FIRST_MENU.name}}
      </a> -->
    </ul>
  </div>
  <div class="mainNav">
    <div class="mainNavItem">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<nal-jal-footer></nal-jal-footer>