<div id="content">
  <div id="sideMenu" class="collapse show">
    <ul class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-warning text-white">
        Dashboard
      </a>
        <a class="list-group-item list-group-item-action sub-menu" href="javascript:void(0);" (click)="menuClicked('home')">
          Home
        </a>
        <a class="list-group-item list-group-item-action sub-menu" href="javascript:void(0);" (click)="menuClicked('water-works/read/view')">
          View Readings
        </a>
    </ul>
  </div>
  <div id="mainMenu">
    <router-outlet></router-outlet>
  </div>
</div>