<div class="card">
  <div class="card-header text-center main-header text-white">
    <strong>UPDATE PASSWORD</strong>
  </div>
  <div class="card-body" id="mainDiv">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="updated">
      <h4 class="alert-heading">UPDATED!</h4>
      <p>Password updated successfully.
        <b>You will be logged out in {{LOGOUT_STANDBY_IN_SECONDS}} seconds</b>, Login again to continue!</p>
      <hr>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="updateFailed">
      Unable to update password. Try Again !
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="passwordMismatch">
      New Password & Confirm New Password does not match !!!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #updatePasswordForm="ngForm">
      <div id="formDiv" class="row align-items-baseline">
        <div class="form-group">
          <label for="username" class="not-required">Username</label>
          <input type="text" class="form-control form-control-sm" id="username" name="username" [ngModel]="user.username" disabled>
        </div>
        <div class="form-group">
          <label for="name" class="not-required">Name</label>
          <input type="text" class="form-control form-control-sm" id="name" name="name" [ngModel]="loggedInUser.name" disabled>
        </div>
        <div class="form-group">
          <label for="newPassword" class="required">New Password</label>
          <input [ngClass]="{'is-valid': !newPassword.errors && (newPassword.dirty || newPassword.touched),'is-invalid': passwordMismatch || (newPassword.errors && (newPassword.dirty || newPassword.touched))}"
            type="text" class="form-control form-control-sm" id="newPassword" name="newPassword" [(ngModel)]="user.password" #newPassword="ngModel" required>
          <nal-jal-show-errors [control]="newPassword"></nal-jal-show-errors>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword" class="required">Confirm New Password</label>
          <input [ngClass]="{'is-valid': !confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched),'is-invalid': passwordMismatch || (confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched))}"
            type="text" class="form-control form-control-sm" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="user.confirmNewPassword"
            #confirmNewPassword="ngModel"  validateEqual="newPassword" required>
          <div class="text-danger" *ngIf="confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched)">
            <div *ngIf="confirmNewPassword.errors.validateEqual">
              <span class="fa fa-exclamation-circle mx-sm"></span>
              <small>&nbsp;Password mismatch</small>
            </div>
          </div>
          <nal-jal-show-errors [control]="confirmNewPassword"></nal-jal-show-errors>
        </div>
        <!-- <div class="form-group">
          <label for="newPassword" class="required">New Password</label>
          <input [ngClass]="{'is-valid': !newPassword.errors && (newPassword.dirty || newPassword.touched),'is-invalid': passwordMismatch || (newPassword.errors && (newPassword.dirty || newPassword.touched))}"
            type="text" class="form-control form-control-sm" id="newPassword" name="newPassword" [(ngModel)]="user.password" #newPassword="ngModel" 
            compareEqual="confirmNewPassword" reverse="true" required>
          <nal-jal-show-errors [control]="newPassword"></nal-jal-show-errors>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword" class="required">Confirm New Password</label>
          <input [ngClass]="{'is-valid': !confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched),'is-invalid': passwordMismatch || (confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched))}"
            type="text" class="form-control form-control-sm" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="user.confirmNewPassword"
            #confirmNewPassword="ngModel"  compareEqual="newPassword" required>
          <nal-jal-show-errors [control]="confirmNewPassword"></nal-jal-show-errors>
        </div> -->
        <div class="form-group columnEnd">
          <label class="not-required"></label>
          <button class="btn btn-sm btn-primary" id="updateButton" (click)="updateButtonClicked()" [disabled]="newPassword.errors || confirmNewPassword.errors || updating">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>