<div class="card">
  <div class="card-header text-center main-header text-white">
    UPDATE PASSWORD
  </div>
  <div class="card-body" id="mainDiv">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="updated">
      <h4 class="alert-heading">UPDATED!</h4>
      <p>Password updated successfully.
        <b>You will be logged out in {{LOGOUT_STANDBY_IN_SECONDS}} seconds</b>, Login again to continue!</p>
      <hr>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="updateFailed">
      Unable to update password. Try Again !
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="passwordMismatch">
      New Password & Confirm New Password does not match !!!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="formDiv" class="row">
      <div class="form-group">
        <label for="username" class="not-required">Username</label>
        <input type="text" class="form-control" id="username" [ngModel]="user.username" disabled>
      </div>
      <!-- <div class="form-group">
        <label for="role" class="not-required">Role</label>
        <input type="text" class="form-control" id="role" [ngModel]="loggedInUser.role" disabled>
      </div>
      <div class="form-group">
        <label for="designation" class="not-required">Designation</label>
        <input type="text" class="form-control" id="designation" [ngModel]="loggedInUser.designation" disabled>
      </div> -->
      <div class="form-group">
        <label for="newPassword" class="required" [ngClass]="{'text-danger' : newPassword.errors && (newPassword.dirty || newPassword.touched)}">New Password
          <span *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">(Required)</span>
        </label>
        <input [ngClass]="{'is-valid': !newPassword.errors && (newPassword.dirty || newPassword.touched),'is-invalid': passwordMismatch || (newPassword.errors && (newPassword.dirty || newPassword.touched))}"
          type="text" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="user.password" #newPassword="ngModel"
          required>
      </div>
      <div class="form-group">
        <label for="confirmNewPassword" class="required" [ngClass]="{'text-danger' : confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched)}">Confirm New Password
          <span *ngIf="confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched)">(Required)</span>
        </label>
        <input [ngClass]="{'is-valid': !confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched),'is-invalid': passwordMismatch || (confirmNewPassword.errors && (confirmNewPassword.dirty || confirmNewPassword.touched))}"
          type="text" class="form-control" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="user.confirmNewPassword"
          #confirmNewPassword="ngModel" required>
      </div>
      <div class="form-group columnEnd">
        <button class="btn btn-primary" id="updateButton" (click)="updateButtonClicked()" [disabled]="newPassword.errors || confirmNewPassword.errors || updating">Update</button>
      </div>
    </div>
  </div>
</div>