<p>
  dashboard-tutorial-multiselect-dropdown works!
</p>
<form>
<nal-jal-multiselect-dropdown class="pull-left" [items]="items" id="items" name="items" #itemsFormElement="ngModel" 
  [(ngModel)]="_selectedItems" (ngModelChange)="onChange($event)" required>
</nal-jal-multiselect-dropdown>
<nal-jal-show-errors [control]="itemsFormElement" ></nal-jal-show-errors>
</form>

<div class="btn-group">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropDownButton" data-toggle="dropdown" aria-haspopup="true">
    {{groupSelectionMessage}}
  </button>
  <div class="dropdown-menu scrollable-menu" id="scrollMenu">
    <li class="dropdown-item dropdown-element">
      <input type="checkbox" name="allGroup" [(ngModel)]="isCheckedAllGroup" id="allGroup" (change)="checkedAllGroup()"> ALL</li>
    <div id="dropdownDivider" class="dropdown-divider"></div>
    <li class="dropdown-item dropdown-element" *ngFor="let group of groups">
      <input type="checkbox" name="groups" [(ngModel)]="group.checked" id="groups" (change)="checkedCustomGroup(group)" required> {{group.name}}
    </li>
  </div>
</div>
