<div id="mainFooter">
  <div id="copyright">
    <footer>
      <p><strong>&copy; MPPKVVCL 2018 - 2019</strong></p>
      <i class="fa fa-envelope"></i><a type="mail">nal-jal.help@mp.gov.in</a>
      <!-- Contact Us
      <a type="mail">itcell.mpwz@mp.gov.in</a> -->
    </footer>
  </div>
  <div class="pull-xs-right" id="logo">
    <!-- <img src="assets/images/logo.png" alt="Software Cell Logo" class="img-fluid img-rounded"> -->
    <p><em>Proudly developed by Team IT <i class="fa fa-heart"></i></em></p>
  </div>
</div>