<div class="pos-f-t">
  <div class="collapse show" id="navbarToggleExternalContent">
    <nal-jal-header></nal-jal-header>
  </div>
  <nav class="navbar navbar-warning bg-warning text-white">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <a class="text-white" href="javascript:void(0);">
      <i class="fa fa-arrow-circle-up fa-2x" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"></i>
    </a>
    <a class="text-white" href="javascript:void(0);" (click)="logoutClicked()" *ngIf="isLogedIn">
      <strong><i class="fa fa-sign-out" aria-hidden="true" ></i> Logout</strong>
    </a>
    <a class="text-white" href="javascript:void(0);" (click)="loginClicked()" *ngIf="!isLogedIn">
      <strong><i class="fa fa-sign-in" aria-hidden="true" ></i> Login</strong>
    </a>
  </nav>
</div>