<div class="navbar">
  <div class="col-sm-2">
    <img  src="assets/images/logo.png" width="110px"/>
  </div>
  <div class="col-sm-9 text-center">
      <h3 class="text-warning">Madhya Pradesh Paschim Kshetra Vidyut Vitaran Company Ltd.</h3>
      <small>(Wholly owned by Government of Madhya Pradesh)</small>
  </div>
  <div class="col-sm-1">
      <!-- <a class="dropdown-item" href="javascript:void(0);" (click)="menuClicked('/home')"><span class="fa fa-sign-out" aria-hidden="true" >&nbsp;&nbsp;</span>Logout</a> -->
  </div>
</div>