<div class="card text-center">
    <div class="card-header">Departmental User Login</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label class="sr-only">Username</label>
                <input type="text" class="form-control form-control-md" placeholder="Enter Your Username" required>
            </div>
            <div class="form-group">
                <label class="sr-only">Password</label>
                <input type="password" class="form-control form-control-md" placeholder="Enter Your Password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm">login</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-danger btn-sm">clear</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        <strong>&copy; MPPKVVCL Indore 2018-2019</strong>
    </div>
</div>