<div class="card">
  <div class="card-header text-center main-header text-white">
    <strong>UPDATE PROFILE</strong>
  </div>
  <div class="card-body" id="mainDiv">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="updated">
        <h4 class="alert-heading">UPDATED!</h4>
        <p>Profile updated successfully. <b>You will be logged out in {{LOGOUT_STANDBY_IN_SECONDS}} seconds</b>, Login again to continue!</p>
        <hr>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="updateFailed">
        Unable to update profile. Try Again !
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #updateProfileForm="ngForm">
      <div id="formDiv" class="row align-items-baseline">
        <div class="form-group">
          <label for="loggedInUsername" class="not-required">Username</label>
          <input type="text" class="form-control form-control-sm" id="loggedInUsername" name="loggedInUsername" [ngModel]="user.username" disabled>
        </div>
        <div class="form-group">
          <label for="role" class="not-required">Role</label>
          <input type="text" class="form-control form-control-sm" id="role" name="loggedInRole" [ngModel]="user.role" disabled>
        </div>
        <div class="form-group">
          <label for="designation" class="not-required">Designation</label>
          <input type="text" class="form-control form-control-sm" id="designation" name="designation" [ngModel]="user.designation" disabled>
        </div>
        <div class="form-group">
          <label for="name" class="required">Name <!-- [ngClass]="{'text-danger' : name.errors && (name.dirty || name.touched)}"-->
            <!-- <span *ngIf="name.errors && (name.dirty || name.touched)">(Required)</span> -->
          </label>
          <input [ngClass]="{'is-valid': !name.errors && (name.dirty || name.touched),'is-invalid': name.errors && (name.dirty || name.touched)}"
          type="text" class="form-control form-control-sm" id="name" name="name" [(ngModel)]="user.name" #name="ngModel" required>
          <nal-jal-show-errors [control]="name"></nal-jal-show-errors>
        </div>
        <div class="form-group">
          <label for="mobileNo" class="not-required">Mobile No</label>
          <input type="text" class="form-control form-control-sm" id="mobileNo" name="mobileNo" [(ngModel)]="user.mobileNo" size="10" maxlength="10" pattern="[6-9][0-9]{9}">
        </div>
        <div class="form-group columnEnd">
          <label class="not-required"></label>
          <button class="btn btn-sm btn-primary" id="updateButton" (click)="updateButtonClicked()" [disabled]="name.errors || updating">Update</button>
        </div>
      </div>
    </form>
    <nal-jal-loader [show]="updating"></nal-jal-loader>
  </div>
</div>